# build artifacts
/build/
/dist/
/*.egg-info/
/__pycache__/
/.pytest_cache/
/.mypy_cache/
/.coverage
/htmlcov/
/.cache/
/.pyre/
/.tox/
/.venv
/venv/
/.env
/.DS_Store
# local tools
/.trufflehog-exclude.txt
/.gitleaks.toml
/src/*.egg-info/
/.gradle/
